body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    
}
.btn-container{
    display: flex;
    justify-content: center;
}